*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    min-height: 100vh;
    background: #f4f4f4;
}

/*PRINCIPAL*/

.Login{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 20px;
}

.L1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* FORMULARIO*/

form{
    width: 100%;
    max-width: 420px;
    background: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
}

.Campo{
    margin-bottom: 18px;
}

.Campo h2{
    text-align: center;
    margin-bottom: 25px;
    color: #111;
    font-size: 32px;
}

.Campo label{
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

.Campo input{
    width: 100%;
    padding: 12px;
    border: 1px solid #222;
    border-radius: 6px;
    font-size: 15px;
}

/*ESTADOS*/

.Campo input:focus{
    border-color: #000;
    outline: none;
}

button:hover{
    background-color: #333;
}

.Olvido a:hover,
.Registro a:hover,
.Volver a:hover{
    text-decoration: underline;
}

/*BOTON*/

button{
    width: 50%;
    padding: 14px;
    background: #1f1f1f;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    display: block;
    margin: 20px auto 5px auto;
}

/*SEPARADOR*/

.separador{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 0 20px 0;
    color: #666;
    font-size: 15px;
}

.separador::before,
.separador::after{
    content: "";
    flex: 1;
    height: 1px;
    background: #ccc;
}

.separador span{
    padding: 0 15px;
}

/*MENSAJES Y LINKS*/

.Olvido{
    text-align: center;
    font-size: 14px;
    margin: 10px 0;
}

.Olvido a,
.Registro a,
.Volver a{
    color: #111;
    font-weight: bold;
    text-decoration: none;
}

.Registro{
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.Volver{
    text-align: center;
    margin-top: 15px;
}

/*ICONOS*/

.icono{
    margin: 20px 0; 
    display: flex;
    justify-content: center;
    gap: 10px; 
}

.icon{
    border: 1px solid #222;
    border-radius: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: 0 4px;
    color:#222;
}

.icon:hover{
    background: #1f1f1f;
    color: white;
}

.error-message {
    color: red;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}