/* GENERAL */
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

/* MENU */
.menu{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    border-bottom: 1px solid #ccc;
}

/* LOGO */
.logo h2{
    color: black;
}

/* OPCIONES */
.opciones a{
    text-decoration: none;
    color: black;
    margin-left: 30px;
    font-weight: bold;
}

.opciones a:hover{
    color: gray;
}

/* PORTADA */
.portada{
    height: 90vh;

    background-image: url('https://images.unsplash.com/photo-1480714378408-67cf0d13bc1b');

    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* OSCURECER FONDO */
.contenido{
    background-color: rgba(0,0,0,0.6);
    padding: 50px;
    text-align: center;
    color: white;
    width: 70%;
}

/* TITULO */
.contenido h1{
    font-size: 55px;
}

/* TEXTO */
.contenido p{
    font-size: 22px;
    margin-top: 20px;
}

/* BOTON */
button{
    margin-top: 30px;
    padding: 15px 35px;
    border: none;
    background-color: black;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

button:hover{
    background-color: gray;
}

/* CSS DEL LOGIN */
/* ESTILOS*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    min-height: 100vh;
    background: linear-gradient(135deg, #f5f5f5, #e0e0e0);
}


/*PRINCIPAL*/

.Login{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px;
    gap: 20px;
}
.L1{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

/*SECCIÓN BIENVENIDA*/

.Bienvenida{
    width: 50%;
}

.Bienvenida h1{
    text-align: center;
    font-size: 55px;
    line-height: 1.6;
    color: #333;
    margin-bottom: 20px;
}

.Bienvenida p{
    text-align: center;
    font-size: 28px;
    line-height: 1.5;
    color: #334155;
}

/* FORMULARIO*/
form{
    width: 100%;
    background: white;
    padding: 35px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}
.Campo{
    margin-bottom: 18px;
}

.Campo h2{
    text-align: center;
    margin-bottom: 25px;
    color: #1677f2;
}

.Campo label{
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

.Campo input{
    width: 100%;
    padding: 12px;
    border: 1px solid red;
    border-radius: 15px;
    font-size: 15px;
}

/*ESTADOS*/

.Campo input:focus{
    border-color: #007BFF;
    outline: none;
}

button:hover{
    background-color: #0056b3;
}

.register-link a:hover{
    text-decoration: underline;
}


/*BOTONES*/

button{
    width: 100%;
    padding: 14px;
    background: #1677f2;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}
/*MENSAJES Y LINKS*/
.error{
    color: red;
    margin-bottom: 5px;
    text-align: center;
    font-size: 13px;
    display: block;
}

.register-link{
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.register-link a{
    color: #007BFF;
    font-weight: bold;
    text-decoration: none;
}

.Volver a{
    text-decoration: none;
    color: #1677f2;
    font-weight: bold;
    margin: 100px;
}

/*icono de google*/
.icono{
    margin: 20px 0; 
    display: flex;
    justify-content: center;
    gap: 10px; 
}

.icon{
    border: 1px solid #3c3c3c;
    border-radius: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: 0 4spx;
    color:#555 ;
}


